// .home page styles
header .fa-bars {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.5rem;
  visibility: hidden;
}

.home header {
  background-image: url(../assets/header-home.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.home header p {
  visibility: hidden;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin: 20px;
  border-bottom: 2px solid rgba(100,100,100,0);
}

nav a {
  @include nav-font;
}

.home h1 {
  @include h1-font;
  width: 40%;
  padding: 50px 0 0 130px;
}

.home header img {
  width: 55%;
  margin: 33px 0;
}

header li:hover {
  border-bottom: 2px solid $quinary;
}
// .home page styles

// .blog page styles
.blog header {
  height: 70vh;
  background-image: url(../assets/blog-image.jpg);
  background-size: cover;
  background-position: top;
}

header p {
  @include logo-font;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
}

.logo-nav p {
  width: 15%;
  margin-top: 15px;
}

h1 {
  @include h1-font;
  padding: 110px 0;
}
// /.blog page styles

// .contact page styles
.contact header {
  height: 50vh;
  background-image: url(../assets/contact-image.jpg);
  background-size: cover;
  background-position: bottom;
}

