@media (max-width: 915px) {
  .home .text-container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .discover img {
    display: none;
  }

  .group-new {
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .top-left {
    bottom: 0;
  }

  .bottom-right {
    top: 0;
  }
  // /.home ends
  
  .our-mission {
    width: 30%;
  }

  .blog-left-column {
    width: 60%;
  }

  .blog-text {
    padding-left: 50px;
  }

  .comment {
    padding-left: 50px;
  }
  // /.blog ends
  .contact-form {
    left: 50px;
  }

  .details {
    margin: 50px 50px 0 0;
    text-align: right;
  }
}

@media (max-width: 768px) {
  .home h1 {
    font-size: 2.5rem;
    padding: 25px;
  }

  .group-new {
    grid-template-columns: 0.5fr 12fr 1fr 12fr .05fr;
    grid-template-rows: 1fr 1fr;
  }

  .program-location h2 {
    font-size: 1.5rem;
  }

  .top-left {
    bottom: -50px;
  }

  .bottom-right {
    top: -50px;
  }

  .text-block {
    padding: 50px;
  }
// /.home ends
  
  .our-mission {
    width: 37%;
  }

  .mission-content-block {
    position: relative;
    top: 200px;
  }

  .comment-one {
    display: flex;
    flex-direction: column;
  }

  .comment-one img {
    margin-bottom: 10px;
    width: 30%;
    padding: 0;
  }

  .comment-two {
    display: flex;
    flex-direction: column;
  }

  .comment-two img {
    margin-bottom: 10px;
    width: 30%;
    padding: 0;
  }
  // /.blog ends
  .contact-page {
    height: 75vh;
  }
  
  .contact-form {
    float: none;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 70%;
  }

  .details {
    text-align: center;
    float: none;
    width: 100%;
    margin: 60 auto 0 auto;
  }
}

@media (max-width: 480px) {
  .home h1 {
    display: none;
  }

  header p {
    visibility: visible;
    padding: 15px 25px;
  }

  nav ul {
    display: none;
  }

  header .fa-bars {
    visibility: visible;
  }

  .home header img {
    display: none;
  }

  .home header {
    height: 60vh;
    background-size: cover;
    background-position: right;
  }

  .discover p {
    display: none;
  }

  .discover h2 {
    position: relative;
    top: 30px;
  }

  .discover a {
    position: relative;
    top: 50px;
  }

  .gallery li {
    float: none;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
  }

  .text-grid {
    display: inline-block;
    padding: 0 50px;
    margin: 0 auto;
  }

  .text-grid i {
    display: none;
  }

  .program-location p {
    display: none;
  }

  .group-new {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-left {
    bottom: 0;
  }

  .top-left img {
  box-shadow: none;
}

  .bottom-right {
    top: 0;
  }

  .bottom-right img {
    box-shadow: none;
  }

  .right-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }

  .left-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
  // /.home ends
  
  .our-mission {
    display: none;
  }

  .blog-left-column {
    width: 100%;
  }

  .blog-post img {
    top: -50px;
  }

  .blog-text {
    padding-left: 30px;
  }

  .blog-text h2 {
    text-align: center;
  }

  .comment {
    padding-left: 30px;
  }
  // /.blog ends

  .contact-name-email {
    flex-direction: column;
  }

  .contact-name-email #name {
    width: 100%;
  }

  .contact-name-email #email {
    width: 100%;
  }

  .contact-page {
    height: 80vh;
  }
}

@media (max-width: 320px) {
  .home header {
    background-image: 100vh;
  }

  .home .text-container {
    width: 90%;
  }

  .discover a {
    font-size: 0.8rem;
  }

  .text-grid {
    padding: 25px;
  }

  .text-grid h2 {
    text-align: center;
  }

  .text-grid p {
    text-align: center;
  }

  .top-left img {
    width: 100%;
  }

  .bottom-right img {
    width: 100%;
  }

  .right-text-container a {
    font-size: 0.8rem;
  }

  .right-text-container h2 {
    text-align: center;
  }
  
  .left-text-container a {
    font-size: 0.8rem;
  }

  .left-text-container h2 {
    text-align: center;
  }

  .text-block p {
    display: none;
  }

  .text-block a {
    font-size: 0.8rem;
  }

  footer p {
    font-size: 0.8rem;
  }
  // /.home ends
  
  .blog-post {
    border-right: none;
  }
  .blog-text {
    text-align: center;
    padding-right: 30px;
  }

  .comment {
    text-align: center;
  }

  .comment img {
    margin: 0 auto;
    width: 50%;
  }

  .comment-one-text {
    width: 100%;
  }

  .comment-two-text {
    width: 100%;
  }

  .blog .name-email {
    flex-direction: column;
  }

  .blog #name {
    width: 100%;
    padding: 15px 25px;
  }

  .blog #email {
    width: 100%;
    padding: 15px 25px;
  }
  // /.blog ends
  .contact-form {
    width: 90%;
    box-shadow: 7px 7px $quinary;
  }


}