@media (max-width: 915px) {
  .home .text-container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .discover img {
    display: none;
  }

  .group-new {
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .top-left {
    bottom: 0;
  }

  .bottom-right {
    top: 0;
  }
}