$primary: #151514;
$secondary: #F5F5F5;
$tertiary: #065635;
$quaternary: #E0FDDF;
$quinary: #F8FB05;
$base-font: 'Lato', sans-serif;
$h1-font: 'Kumar One Outline', cursive;
$h2-font: 'Kumar One', cursive;