html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

ul,
h1,
h2,
p {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.home header {
  background-image: url(../assets/header-home.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav li {
  margin: 20px;
  border-bottom: 2px solid rgba(100, 100, 100, 0);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #151514;
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 1.4px;
  text-align: center;
}

.home h1 {
  font-family: "Kumar One Outline", cursive;
  font-weight: 400;
  font-size: 3.4rem;
  color: #151514;
  line-height: 64px;
  text-transform: uppercase;
  width: 40%;
  padding: 50px 0 0 130px;
}

.home header img {
  width: 55%;
  margin: 33px 0;
}

header li:hover {
  border-bottom: 2px solid #F8FB05;
}

.blog header {
  height: 60vh;
  background-image: url(../assets/blog-image.jpg);
  background-size: cover;
  background-position: top;
}

header p {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  font-size: 1.1rem;
  color: #151514;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-nav p {
  width: 15%;
  margin-top: 15px;
}

h1 {
  font-family: "Kumar One Outline", cursive;
  font-weight: 400;
  font-size: 3.4rem;
  color: #151514;
  line-height: 64px;
  text-transform: uppercase;
  padding: 110px 0;
}

.contact header {
  height: 50vh;
  background-image: url(../assets/contact-image.jpg);
  background-size: cover;
  background-position: bottom;
}

.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

.discover img {
  -webkit-box-shadow: -15px 15px #F8FB05;
          box-shadow: -15px 15px #F8FB05;
  width: 275px;
  height: 275px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.home .text-container {
  width: 70%;
}

h2 {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  font-size: 1.65rem;
  color: #151514;
  line-height: 58px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #151514;
  line-height: 32px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.discover a {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  font-size: 1rem;
  color: #F5F5F5;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #065635;
}

.gallery {
  background-color: #E0FDDF;
}

.gallery li {
  width: calc((100% / 3) - 30px);
  float: left;
  margin: 15px;
  padding: 60px 0;
}

.text-grid {
  margin: 100px 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  grid-template-columns: auto 575px 70px 575px auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px auto 50px auto;
}

.item1 {
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 3px 15px 0 0;
}

.item2 {
  grid-column-start: 2;
}

.item3 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.item4 {
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 3px 15px 0 0;
}

.item6 {
  grid-column-start: 4;
  grid-row-start: 2;
}

.item7 {
  grid-column-start: 1;
  grid-row-start: 3;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 3px 15px 0 0;
}

.item8 {
  grid-column-start: 2;
  grid-row-start: 3;
}

.item9 {
  grid-column-start: 2;
  grid-row-start: 4;
}

.item10 {
  grid-column-start: 3;
  grid-row-start: 3;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 3px 15px 0 0;
}

.item11 {
  grid-column-start: 4;
  grid-row-start: 3;
}

.item12 {
  grid-column-start: 4;
  grid-row-start: 4;
}

li i {
  padding: 10px;
  border-radius: 50%;
  background-color: #F8FB05;
}

.program-location {
  background-color: #E0FDDF;
}

.group-new {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.top-left {
  grid-column: 1/span 2;
  grid-row-start: 1;
}

.top-right {
  grid-column-start: 4;
  grid-row-start: 1;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-left {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: right;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-right {
  grid-column: 4/span 2;
  grid-row-start: 2;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.left-text-container a {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  font-size: 1rem;
  color: #F5F5F5;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #065635;
}

.right-text-container a {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  font-size: 1rem;
  color: #F5F5F5;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #065635;
}

.search-by-style img {
  width: 100%;
}

.text-block {
  text-align: center;
  padding: 150px;
}

.text-block p {
  text-align: left;
}

.text-block a {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  font-size: 1rem;
  color: #F5F5F5;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #065635;
}

.blog main {
  background-color: #E0FDDF;
}

.contact-page {
  background-color: #E0FDDF;
  height: calc(100vh - 50vh - 42px);
}

.contact-form {
  float: left;
  background-color: #fff;
  width: 40%;
  padding: 50px;
  position: relative;
  top: -90px;
  left: 80px;
}

.name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

#name {
  border: none;
  border-bottom: 1.5px solid #065635;
}

#email {
  border: none;
  border-bottom: 1.5px solid #065635;
}

input[type=text]::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #151514;
  line-height: 32px;
  letter-spacing: 2px;
}

input[type=text]::-moz-placeholder {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #151514;
  line-height: 32px;
  letter-spacing: 2px;
}

input[type=text]:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #151514;
  line-height: 32px;
  letter-spacing: 2px;
}

input[type=text]::-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #151514;
  line-height: 32px;
  letter-spacing: 2px;
}

input[type=text]::placeholder,
input[type=text] {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #151514;
  line-height: 32px;
  letter-spacing: 2px;
}

textarea {
  resize: none;
  width: 80%;
  border: 1.5px solid #065635;
}

textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #151514;
  line-height: 32px;
  letter-spacing: 2px;
}

textarea::-moz-placeholder {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #151514;
  line-height: 32px;
  letter-spacing: 2px;
}

textarea:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #151514;
  line-height: 32px;
  letter-spacing: 2px;
}

textarea::-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #151514;
  line-height: 32px;
  letter-spacing: 2px;
}

textarea::placeholder {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #151514;
  line-height: 32px;
  letter-spacing: 2px;
}

button {
  display: block;
  width: 80%;
  border: none;
  background-color: #065635;
  font-family: "Kumar One", cursive;
  font-weight: 400;
  font-size: 1rem;
  color: #F5F5F5;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.details {
  float: right;
}

footer {
  background-color: #151514;
  text-align: center;
}

footer p {
  color: #F5F5F5;
  margin: 0;
  padding: 5px;
}